[submodule ".external/stylegan-v"]
	path = .external/stylegan-v
	url = https://github.com/yakymchukluka-afk/stylegan-v
[submodule "train/runpod-hf/vendor/stylegan2ada"]
	path = train/runpod-hf/vendor/stylegan2ada
	url = https://github.com/NVlabs/stylegan2-ada-pytorch.git
