torch>=1.9.0
torchvision>=0.10.0
opencv-python>=4.5.2
hydra-core==1.0.7
click>=7.1.2
scipy>=1.7.0
ninja>=1.10.0
tensorboard>=2.4.1
tqdm
gitpython
gpustat
av
matplotlib
torch_tb_profiler>=0.3.1
joblib>=1.1.0
pillow>=8.3.0
numpy>=1.20.0
imageio>=2.9.0
requests>=2.26.0